.article {
    overflow-y: hidden;
    overflow-x: hidden;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    &::-webkit-scrollbar-thumb {
        background: rgba($purple, .5) !important;
    }

    &__title {
        @include screen-down(sm) {
            font-size: 20px;
        }
    }

    &__header {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        white-space: pre-wrap;
        word-break: break-word;
        @include screen-down(md) {
            flex-direction: column;
            .separator {
                display: none;
            }
            .heading {
                
                &:not(:first-child) {
                    padding-top: 0.25rem;
                }
                @include screen-down(sm) {
                    font-size: 12px;
                }
            }
        }
    }
    &__footer {
        margin-top: 2rem;
        display: flex;
        flex-flow: column;
    }
    &__comments {
        font-weight: 700;
        color: $green;
        font-style: italic;
        font-size: 18px;
        > * {
          margin-top: 0.5rem;
        }
        @include screen-down(sm) {
            font-size: 12px;
        }
    }
    &__comments_data {
        margin-top: 1rem;
        color: rgba(#fff, .5);
        font-size: 18px;
    }
    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.4;
        @include screen-down(sm) {
            font-size: 12px;
        }
    }

    .show-more-less {
        display: flex;
        flex-flow: column;
        width: 100%;
    
        /*p {
            display: -webkit-box;
            -webkit-line-clamp: 6;
            -webkit-box-orient: vertical;
            overflow: hidden !important;
        }*/
        p.expanded {
            height: auto;
            display: block;
        }

        p.collapsed {
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden !important;
        }
        
        .toggle-more {
            align-self: flex-end;
        }
    
        .toggle-more button {
            width: 120px;
            border: none;
            outline: none;
            padding: 0.6rem 0.8rem;
            line-height: 1;
            border-radius: 12px;
            font-weight: 700;
            font-size: 14px;
            letter-spacing: 1.2px;
            cursor: pointer;
            margin-left: auto;
            border-radius: 24px;
            background-color: $purple;
            color: $orange-light;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 400;
            transition: all 0.25s ease;
            
        }
    }
}
