.frequent-questions {
    background-color: $orange-light;
    padding-top: 2rem;
    padding-bottom: 2rem;
    .collapsible {
        a {
            color: $green;
            text-decoration: none;
            font-weight: 500;
        }
    }
    .divider {
        width: 100%;
        height: 2px;
        background-color: $purple;
    }
    #contactForm {
        margin-left: 12%;
        @include screen-down(md) {
            margin: auto;
        }
    }
    .input-group {
        display: flex;
        flex-direction: column;
    }
    .text-error {
        font-size: 14px;
        color: red;
        margin-top: 0.25rem;
    }
    .form-control {
        //width: 100%;
        height: 42px;
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 12px;
        outline: none;
        border: none;
        font-style: italic;
        color: $white;
        background-color: $orange;
        font-size: 1rem;
        box-shadow: inset 0 0 15px 1px rgb(0 0 0 / 10%);
        &::placeholder {
            color: rgba($white, 0.9);
        }
    }
    .textarea-container {
        position: relative;
        display: flex;
        flex-direction: column;
        textarea {
            //width: 100%;
            height: auto;
            flex-grow: 1;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: 0.8rem;
            padding-bottom: 1.6rem;
            border-radius: 15px;
            outline: none;
            border: none;
            font-style: italic;
            background-color: $orange;
            color: $white;
            overflow-y: hidden;
            box-shadow: inset 0 0 15px 1px rgb(0 0 0 / 10%);
            &::placeholder {
                color: rgba($white, 0.9);
            }
        }
        .send-icon {
            cursor: pointer;
            position: absolute;
            bottom: 8px;
            right: 12px;
            width: 28px;
            height: 28px;
            fill: $orange-light;
            background: none;
            border: none;
            outline: none;
        }
    }
}
