.media {
  background-color: $orange;
  padding-bottom: 4rem;
  padding-top: 2rem;

  &__player {
    position: fixed;
    top: calc(100% - 1rem - 88px);
    right: 1rem;
    z-index: 999999;

    @include screen-down(sm) {
      left: 1rem;
    }

    .player {
      width: 400px;
      border-radius: 18px;
      filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.253));
      border: none;
      box-shadow: none;
      backdrop-filter: blur(10px);
      background-color: rgba(0, 0, 0, 0.553);

      @include screen-down(sm) {
        width: unset;
      }

      .rhap_time {
        color: $orange-light;
        width: 40px;
      }

      .rhap_progress-indicator,
      .rhap_progress-filled {
        background-color: $orange;
      }

      .rhap_progress-bar {
        background-color: rgba($orange-light, .5);
      }

      .rhap_download-progress {
        background-color: $orange-light;
      }

      svg path {
        fill: $orange-light;
      }
    }
  }

  &__list {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;

    &--item {
      width: 300px;
      height: 200px;
      margin-bottom: 1rem;
      overflow: hidden;
      border-radius: 18px !important;
      cursor: pointer;
      position: relative;
      margin: 0 .5rem;
      margin-bottom: 1rem;

      .overlay {
        transition: opacity 0.5s ease;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        background-color: rgba(#000, 0.25);

        &.active {
          opacity: 1 !important;
        }

        @include screen-down(md) {
          opacity: 1 !important;

          .play-btn {
            position: absolute;
            bottom: 12px;
            right: 12px;
            width: 38px !important;
            height: 38px !important;
          }
        }

        .play-btn {
          transition: none;
          width: 48px;
          height: 48px;
          background-color: rgba(#000, 0.60);
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          filter: drop-shadow(2px 4px 6px rgba(#000, 0.8));

          //backdrop-filter: blur(3px);
          svg {
            fill: rgba(#fff, 0.85);
          }

          .play-icon,
          .stop-icon {
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .play-icon svg {
            margin-left: 3px;
          }
        }
      }

      img {
        transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      }

      &:hover {
        .overlay {
          opacity: 1;
        }

        img {
          scale: 1.1;
        }
      }
    }
  }
}