$breakpoints: (
    xxl: 1400px,
    xl: 1200px,
    lg: 992px,
    md: 768px,
    sm: 576px
);

@mixin screen-down($size) {
    $bp: map-get($breakpoints, $size);
    @media only screen and (max-width: $bp) {
        @content;
    }
};